/Getting and Cleaning Data/Course Project/UCI HAR Dataset/*
/Exploratory Data Analysis/Project 1/household_power_consumption.txt
*.zip
/Reproducible Research/Final Project/repdata%2Fdata%2FStormData.*
/Reproducible Research/Final Project/FinalProject_cache/*